.bpm-menu {
    display: flex;
    position: relative;
}

.bpm-wrapper {
    flex-grow: 1;
    gap: 8px;
    display: flex;
    overflow-x: scroll;
    height: 55px;
    align-items: center;
    /* border-bottom: 1px solid var(--color-border); */
    user-select: none;
    position: relative;
    overflow-y: hidden;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
}
.bpm-wrapper::-webkit-scrollbar {
    display: none;
}
.bpm-item {
    cursor: pointer;
    padding: 2px 4px;
    border-radius: var(--border-radius-sm);
    transition-duration: var(--transition-duration);
}
.bpm-item:hover,
.bpm-item-active {
    background-color: var(--color-tertiary);
    color: #fff;
}