/* User */

.user-select-none {
    user-select: none;
}

/* Opacity */

.opacity-0 {
    opacity: 0;
}
.opacity-25 {
    opacity: 0.25;
}
.opacity-50 {
    opacity: 0.5;
}
.opacity-75 {
    opacity: 0.75;
}
.opacity-100 {
    opacity: 1;
}

/* Position */

.pos-absolute {
    position: absolute;
}
.pos-relative {
    position: relative;
}
.pos-fixed {
    position: fixed;
}

/* Display */

.d-none {
    display: none;
}
.d-block {
    display: block;
}

/* Container */

.container {
    margin: 0 auto;
    padding: 0 20px;
}
@media (max-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (max-width: 576px) {
    .container {
        max-width: 540px;
        margin: 0 auto;
    }
}

/* Form */

.form-control {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.form-group {
    display: flex;
    width: 100%;
}
.form-groups {
    display: flex;
    gap: 0.5rem;
    width: 100%;
}


/* Colors */

.bg-main {
    background-color: var(--color-main);
}
.bg-primary {
    background-color: var(--color-primary);
}
.bg-secondary {
    background-color: var(--color-secondary);
}
.bg-tertiary {
    background-color: var(--color-tertiary);
}
.bg-success {
    background-color: var(--color-success);
}
.bg-danger {
    background-color: var(--color-danger);
}
.bg-info {
    background-color: var(--color-info);
}

/* Other */

.border-radius {
    border-radius: var(--border-radius);
}
.border-radius-sm {
    border-radius: var(--border-radius-sm);
}